<div class="container">
  <h1>Create your own</h1>
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :review, label: "Method" %>
  <%= link_to 'Cancel', root_path, class: 'text-danger mr-2' %>
  <%= f.submit "Add Cocktail", class: 'btn btn-primary' %>
  <% end %>
</div>
