<div class="container mt-4">
  <h1 class="text-center"><%= @cocktail.name.split.map(&:capitalize).join(' ') %></h1>

  <% @cocktail.doses.each do |dose| %>
  <div class="d-flex">
  <p><%= link_to dose_path(dose), method: :delete, data: { confirm: "Remove ingredient?" }, class: 'text-muted' do %>
    <i class="fas fa-trash text-danger mr-3"></i>
  <% end %>
  <p class="font-weight-bold"><span><%= dose.description %></span> <span><%= dose.ingredient.name %></span></p>
  </div>

  <% end %></p>

    <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail), class: 'btn btn-success' %>

    <%= link_to 'Delete Cocktail', cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger' %>
  </div>
