<div class="container">
  <h1 class="text-center"><%= @cocktail.name.split.map(&:capitalize).join(' ') %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: "Measurement" %>
  <%= f.association :ingredient %>
  <%= f.submit "Add Dose", class: 'btn btn-primary' %>
  <% end %>
</div>
